<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- sage&silk/about-us – Sage & Silk: Discover Our Story -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>About Us – Sage & Silk | Timeless Style, Modern Elegance</title>
<meta name="description" content="Discover the story behind Sage & Silk, your destination for timeless and elegant clothing. Explore our commitment to quality, style, and sustainability in every piece we create.">
<meta name="keywords" content="Sage & Silk, online clothing store, elegant fashion, sustainable clothing, timeless style, modern fashion, women's clothing, boutique fashion">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />

<!-- Open Graph Meta Tags for Social Sharing -->
<meta property="og:title" content="About Us – Sage & Silk | Timeless Style, Modern Elegance">
<meta property="og:description" content="Discover the story behind Sage & Silk, your destination for timeless and elegant clothing. Explore our commitment to quality, style, and sustainability in every piece we create.">
<meta property="og:image" content="https://sagesilk.netlify.com//assets2/images/sage-silk-about-us.jpg">
<meta property="og:url" content="https://sagesilk.netlify.com/about-us.html">
<meta property="og:type" content="website">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="About Us – Sage & Silk | Timeless Style, Modern Elegance">
<meta name="twitter:description" content="Discover the story behind Sage & Silk, your destination for timeless and elegant clothing. Explore our commitment to quality, style, and sustainability in every piece we create.">
<meta name="twitter:image" content="https://sagesilk.netlify.com//assets2/images/sage-silk-about-us.jpg">

<!-- Plugins CSS -->
<link rel="stylesheet" href="/assets2/css/plugins.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets2/css/bootstrap.min.css">

<!-- Main Style CSS -->
<link rel="stylesheet" href="/assets2/css/style.css">
<link rel="stylesheet" href="/assets2/css/responsive.css">
<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Z9X9TV3t0P8KGr8o2Af9...etc" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="template-index home14-bags">
  <div id="pre-loader">
          <img src="/assets/images/loader.gif" alt="Loading..." />
      </div>
  </div>
  <div class="pageWrapper">
      <!--Search Form Drawer-->
      <div class="search">
          <div class="search__form">
              <form class="search-bar__form" action="#">
                  <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                  <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
              </form>
              <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
          </div>
      </div>
      <!--End Search Form Drawer-->
      <!--Top Header-->
      <div class="top-header">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                      <div class="currency-picker">
                          <span class="selected-currency">USD</span>
                          <ul id="currencies">
                              <li data-currency="INR" class="">INR</li>
                              <li data-currency="GBP" class="">GBP</li>
                              <li data-currency="CAD" class="">CAD</li>
                              <li data-currency="USD" class="selected">USD</li>
                              <li data-currency="AUD" class="">AUD</li>
                              <li data-currency="EUR" class="">EUR</li>
                              <li data-currency="JPY" class="">JPY</li>
                          </ul>
                      </div>
                      
                      <p class="phone-no"><i class="anm anm-phone-s"></i> Whatsapp  +234 8059307739</p>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                      <div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                  </div>
                  <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                      <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                      <ul class="customer-links list-inline">
                          <li><a href="/login">Login</a></li>
                          <li><a href="/signup">Create Account</a></li>
                          <li><a href="/wishlist">Wishlist</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!--End Top Header-->
      <!--Header-->
      <div class="header-wrap classicHeader animated d-flex">
          <div class="container-fluid">        
              <div class="row align-items-center">
                  <!--Desktop Logo-->
                  <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                      <a href="/">
                          <img src="/assets2/images/sagesilk.png" alt="Sagesilk" style="max-height: 60px;" />
                      </a>
                  </div>
                  <!--End Desktop Logo-->
                  <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                      <div class="d-block d-lg-none">
                          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                              <i class="icon anm anm-times-l"></i>
                              <i class="anm anm-bars-r"></i>
                          </button>
                      </div>
                      <!--Desktop Menu-->
                      <div class="row">
                          <nav class="grid__item" id="AccessibleNav">
                              <ul id="siteNav" class="site-nav medium center hidearrow">
                                  <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a>
                                     
                                  </li>
                                  <li class="lvl1 parent megamenu"><a href="/women">Women's Collection <i class="anm anm-angle-down-l"></i></a>
                            <div class="megamenu style4">
                                <ul class="grid grid--uniform mmWrapper">
                                    <!-- Women's Dresses Section -->
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                        <a href="#" class="site-nav lvl-1">Dresses</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Casual Dresses</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Evening Dresses</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Formal Dresses</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Party Dresses</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Maxi Dresses</a></li>
                                        </ul>
                                    </li>
                                    <!-- Tops & Blouses Section -->
                                    <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                        <a href="#" class="site-nav lvl-1">Tops & Blouses</a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Blouses <span class="lbl nm_label3">Hot</span></a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">T-Shirts</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Tunics</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Sweaters</a></li>
                                            <li class="lvl-2"><a href="" class="site-nav lvl-2">Knitwear</a></li>
                                        </ul>
                                    </li>
                                    <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                        <a href="/women"><img src="/assets2/images/gowns/women-collection (2).jpg" alt="" title="" /></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                                  <li class="lvl1 parent megamenu"><a href="/men">Men's Collection <i class="anm anm-angle-down-l"></i></a>
                                      <div class="megamenu style4">
                                          <ul class="grid grid--uniform mmWrapper">
                                              <!-- Formal & Business Wear Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Formal & Business Wear</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Formal Suits</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Blazers</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Dress Shirts</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Smart Casuals</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Formal Footwear</a></li>
                                                  </ul>
                                              </li>
                                              <!-- Casual & Seasonal Wear Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Casual & Seasonal Wear</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Knitwear <span class="lbl nm_label3">Hot</span></a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Sweaters</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">T-Shirts</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Trousers & Chinos</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Casual Footwear</a></li>
                                                  </ul>
                                              </li>
                                  
                                              <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                                  <a href="/men"><img src="/assets2/images/men/men-collection.jpg" alt="" title="" /></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="lvl1 parent megamenu"><a href="/kids">Kid's Collection <i class="anm anm-angle-down-l"></i></a>
                                      <div class="megamenu style4">
                                          <ul class="grid grid--uniform mmWrapper">
                                              <!-- Kid's Clothing Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Kid's Clothing</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Dresses</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Shirts</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Blazers</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Smart Casuals</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Footwear</a></li>
                                                  </ul>
                                              </li>
                                              <!-- Seasonal & Ethnic Wear Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Seasonal & Ethnic Wear</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Knitwear <span class="lbl nm_label3">Hot</span></a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Sweaters</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">African Prints</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Trousers & Shorts</a></li>
                                                  </ul>
                                              </li>
                                  
                                              <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                                  <a href="/kids"><img src="/assets2/images/kids/kid-section1.jpg" alt="" title="" /></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="lvl1 parent megamenu"><a href="/accessories">Accessories <i class="anm anm-angle-down-l"></i></a>
                                      <div class="megamenu style4">
                                          <ul class="grid grid--uniform mmWrapper">
                                              <!-- Fashion Accessories Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Fashion Accessories</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Hats & Caps</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Belts</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Jewelry</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Sunglasses</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Watches</a></li>
                                                  </ul>
                                              </li>
                                              <!-- Beauty Accessories Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Beauty & Hair Accessories</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Hair Accessories <span class="lbl nm_label3">Hot</span></a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Socks & Hosiery</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Face Masks</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Perfumes</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Skincare</a></li>
                                                  </ul>
                                              </li>
                                  
                                              <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                                  <a href="/men"><img src="/assets2/images/women-bags/accesories.jpg" alt="" title="" /></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="lvl1 parent megamenu"><a href="/wigs">Wigs & Haircare <i class="anm anm-angle-down-l"></i></a>
                                      <div class="megamenu style4">
                                          <ul class="grid grid--uniform mmWrapper">
                                              <!-- Wigs Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Wigs</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Chinese Bone Straight</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Vietnamese Hair</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Single Donor Hair</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Afro Textured Wigs</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Hair Extensions</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Wig Caps</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Combs & Brushes</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Styling Tools <span class="lbl nm_label3">Hot</span></a></li>
                                                  </ul>
                                              </li>
                                              <!-- Haircare Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Haircare</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Shampoos & Conditioners</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Leave-In Treatments</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Hair Oils & Serums</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Heat Protectants</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Scalp Treatments</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Hairbands & Clips</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Storage & Maintenance Kits</a></li>
                                                  </ul>
                                              </li>
                                  
                                              <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                                  <a href="/wigs"><img src="/assets2/images/wigs/wig-section.jpg" alt="" title="" /></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="lvl1 parent megamenu"><a href="/makeup">Makeup & Skincare <i class="anm anm-angle-down-l"></i></a>
                                      <div class="megamenu style4">
                                          <ul class="grid grid--uniform mmWrapper">
                                              <!-- Makeup Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Makeup</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Foundations & Primers</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Lipsticks & Glosses</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Eyeshadow & Palettes</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Mascara & Eyeliners</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Blushes & Highlighters</a></li>
                                                  </ul>
                                              </li>
                                              <!-- Skincare Section -->
                                              <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                  <a href="#" class="site-nav lvl-1">Skincare</a>
                                                  <ul class="subLinks">
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Moisturizers</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Cleansers & Toners</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Face Masks & Treatments</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Sunscreens</a></li>
                                                      <li class="lvl-2"><a href="" class="site-nav lvl-2">Serums & Oils <span class="lbl nm_label3">Hot</span></a></li>
                                                  </ul>
                                              </li>
                                              
                                              <li class="grid__item lvl-1 col-md-6 col-lg-6">
                                                  <a href="/men"><img src="/assets2/images/makeup/makeup-section.jpg" alt="" title="" /></a>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                          </nav>
                      </div>
                      <!--End Desktop Menu-->
                  </div>
                  <!--Mobile Logo-->
                  <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                      <div class="logo">
                          <a href="/">
                              <img src="/assets/images/sagesilk.png" alt="Sagesilk" style="max-height: 60px;" />
                          </a>
                      </div>
                  </div>
                  <!--Mobile Logo-->
                
                  </div>
              </div>
          </div>
      </div>
      <!--End Header-->
  <!--Mobile Menu-->
  <div class="mobile-nav-wrapper" role="navigation">
      <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
      <ul id="MobileNav" class="mobile-nav">
          <li class="lvl1 parent megamenu"><a href="/">Home <i class=""></i></a>
       
          <li class="lvl1 parent megamenu"><a href="/men">Men'S Collection <i class=""></i></a>
          <li class="lvl1 parent megamenu"><a href="/kids">Kid's Collection <i class=""></i></a>
          <li class="lvl1 parent megamenu"><a href="/women/accessories">Accessories <i class=""></i></a>
          <li class="lvl1 parent megamenu"><a href="/women/wigs">Wigs And Haircare <i class=""></i></a>
          <li class="lvl1 parent megamenu"><a href="/women/makeup">Cosmetic <i class=""></i></a>
          <li class="lvl1 parent megamenu"><a href="/women/skin-care">Skincare And Scents <i class=""></i></a>  
          </li>
  </div><br>
  <!--End Mobile Menu-->
  
    
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1 class="hero-title">About Sage & Silk</h1>
            <p class="hero-subtitle">Where timeless elegance meets mindful living</p>
           
        </div>
    </section>

    <!-- Main Content -->
    <main class="main-content">
        <!-- Introduction Section -->
        <section class="intro-section">
            <div class="container">
                <div class="intro-content">
                    <h2 class="section-title">Elegance, Simplicity, and Sustainability</h2>
                    <div class="intro-text">
                        <p class="lead">Welcome to Sage & Silk, where timeless style meets modern living.</p>
                        <p>At Sage & Silk, we believe in curating a collection of products that inspire simplicity, elegance, and mindful living. Our carefully selected range includes home decor, fashion essentials, and lifestyle accessories designed to bring beauty and functionality into your everyday life.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Visual Gallery - Slideshow -->
        <section class="gallery-section">
            <div class="container">
                <h2 class="section-title">Our Journey</h2>
                <div class="slideshow-container">
                    <div class="slideshow-wrapper">
                        <div class="slide active" data-slide="0">
                            <div class="slide-image">
                                <img src="/assets/images/accessories.jpg" alt="Our Story">
                                <div class="slide-overlay">
                                    <div class="slide-content">
                                        <i class="fas fa-book-open"></i>
                                        <h3>Our Story</h3>
                                        <p>A journey of passion, elegance, and mindful curation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slide" data-slide="1">
                            <div class="slide-image">
                                <img src="https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Our Products">
                                <div class="slide-overlay">
                                    <div class="slide-content">
                                        <i class="fas fa-gem"></i>
                                        <h3>Our Products</h3>
                                        <p>Carefully curated home decor, fashion, and lifestyle essentials</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slide" data-slide="2">
                            <div class="slide-image">
                                <img src="https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Our Mission">
                                <div class="slide-overlay">
                                    <div class="slide-content">
                                        <i class="fas fa-seedling"></i>
                                        <h3>Our Mission</h3>
                                        <p>Creating sustainable beauty for a mindful lifestyle</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Navigation Dots -->
                    <div class="slideshow-dots">
                        <button class="dot active" data-slide="0"></button>
                        <button class="dot" data-slide="1"></button>
                        <button class="dot" data-slide="2"></button>
                    </div>
                    
                    <!-- Navigation Arrows -->
                    <button class="slideshow-nav prev" aria-label="Previous slide">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="slideshow-nav next" aria-label="Next slide">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </section>

        <!-- Story Section -->
        <section class="story-section">
            <div class="container">
                <div class="story-content">
                    <h2 class="section-title">Our Story</h2>
                    <div class="story-text">
                        <p>Sage & Silk was born out of a passion for creating spaces and wardrobes that reflect understated elegance and mindful living. We believe that the items you surround yourself with should not only be beautiful but also meaningful and sustainable. Our journey began with a simple idea: to offer products that inspire a life well-lived.</p>
                        <p>We are committed to sourcing high-quality, ethically made products that stand the test of time. From luxurious textiles to handcrafted decor, every item in our collection is chosen with care and intention.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Values & Contact Section -->
        <section class="values-contact-section">
            <div class="container">
                <div class="two-column-layout">
                    <!-- Values Column -->
                    <div class="values-column">
                        <h2 class="section-title">Our Values</h2>
                        <div class="values-content">
                            <p class="values-intro">At Sage & Silk, we are guided by three core principles:</p>
                            
                            <div class="value-item">
                                <div class="value-icon">
                                    <i class="fas fa-gem"></i>
                                </div>
                                <div class="value-content">
                                    <h3>Elegance</h3>
                                    <p>We believe in the power of simplicity and timeless design. Our products are crafted to bring a sense of calm and sophistication to your life.</p>
                                </div>
                            </div>

                            <div class="value-item">
                                <div class="value-icon">
                                    <i class="fas fa-seedling"></i>
                                </div>
                                <div class="value-content">
                                    <h3>Sustainability</h3>
                                    <p>We are committed to making responsible choices. From eco-friendly materials to ethical production practices, we strive to minimize our impact on the planet.</p>
                                </div>
                            </div>

                            <div class="value-item">
                                <div class="value-icon">
                                    <i class="fas fa-balance-scale"></i>
                                </div>
                                <div class="value-content">
                                    <h3>Mindfulness</h3>
                                    <p>Every product we offer is designed to enhance your daily life, encouraging you to live with intention and purpose.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Contact Column -->
                    <div class="contact-column">
                        <h2 class="section-title">Contact Us</h2>
                        <div class="contact-content">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <p>Green Tower Plaza, Okukoko<br>Warri, Delta State, Nigeria</p>
                                </div>
                            </div>

                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="contact-info">
                                    <p>+234-8059-3077-39<br>+234-8095-5212-17</p>
                                </div>
                            </div>

                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="contact-info">
                                    <a href="mailto:sage-silk@gmail.com">sage-silk@gmail.com</a>
                                </div>
                            </div>

                            <div class="social-section">
                                <h3>Follow Us</h3>
                                <div class="social-icons">
                                    <a href="#" class="social-link" title="Facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="social-link" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="#" class="social-link" title="Pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                    <a href="#" class="social-link" title="Twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <style>
        /* ========================================= */
        /* CSS Variables (Sage & Silk Theme) */
        /* ========================================= */
        :root {
            --sage-primary: #9ca986;
            --sage-dark: #6b7460;
            --sage-light: #a8b894;
            --silk-cream: #f5f3f0;
            --silk-warm: #e8e4df;
            --silk-beige: #d4c5b0;
            --text-dark: #4a5240;
            --text-light: #7a8268;
            --success: #8b9474;
            --error: #c7856b;
            --warning: #d4a574;
            --box-shadow: 0 15px 45px rgba(107, 116, 96, 0.15);
            --box-shadow-hover: 0 25px 65px rgba(107, 116, 96, 0.25);
            --primary-accent: var(--sage-primary);
            --secondary-accent: var(--silk-beige);
            
            /* Typography */
            --font-heading: 'Playfair Display', serif;
            --font-body: 'Inter', sans-serif;
            
            /* Spacing */
            --spacing-xs: 0.5rem;
            --spacing-sm: 1rem;
            --spacing-md: 2rem;
            --spacing-lg: 3rem;
            --spacing-xl: 4rem;
            --spacing-xxl: 6rem;
            
            /* Border Radius */
            --border-radius-sm: 8px;
            --border-radius-md: 16px;
            --border-radius-lg: 24px;
            
            /* Transitions */
            --transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            --transition-bounce: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        /* ========================================= */
        /* Reset & Base Styles */
        /* ========================================= */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: var(--font-body);
            line-height: 1.6;
            color: var(--text-dark);
            background-color: var(--silk-cream);
            overflow-x: hidden;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 var(--spacing-sm);
        }

        /* ========================================= */
        /* Typography */
        /* ========================================= */
        .section-title {
            font-family: var(--font-heading);
            font-size: clamp(2rem, 5vw, 3rem);
            font-weight: 400;
            color: var(--text-dark);
            margin-bottom: var(--spacing-lg);
            text-align: center;
            position: relative;
        }

        .section-title::after {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 2px;
            background: linear-gradient(90deg, var(--sage-primary), var(--silk-beige));
            border-radius: 2px;
        }

        .lead {
            font-size: 1.25rem;
            font-weight: 500;
            color: var(--sage-dark);
            margin-bottom: var(--spacing-md);
        }

        /* ========================================= */
        /* Hero Section */
        /* ========================================= */
        .hero {
            height: 100vh;
            background: 
                linear-gradient(135deg, rgba(156, 169, 134, 0.8) 0%, rgba(107, 116, 96, 0.9) 100%),
                url('https://images.unsplash.com/photo-1556909114-f6e7ad7d3136?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
        }

        .hero::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><pattern id="grain" width="100" height="100" patternUnits="userSpaceOnUse"><circle cx="20" cy="20" r="1" fill="%23ffffff" opacity="0.1"/><circle cx="80" cy="40" r="1" fill="%23ffffff" opacity="0.08"/><circle cx="40" cy="80" r="1" fill="%23ffffff" opacity="0.12"/></pattern></defs><rect width="100" height="100" fill="url(%23grain)"/></svg>');
            opacity: 0.3;
        }

        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(107, 116, 96, 0.2);
        }

        .hero-content {
            text-align: center;
            color: white;
            z-index: 2;
            position: relative;
            animation: heroFadeIn 1.5s ease-out;
        }

        .hero-title {
            font-family: var(--font-heading);
            font-size: clamp(3rem, 8vw, 5rem);
            font-weight: 300;
            margin-bottom: var(--spacing-sm);
            letter-spacing: -0.02em;
        }

        .hero-subtitle {
            font-size: clamp(1.2rem, 3vw, 1.5rem);
            font-weight: 300;
            opacity: 0.9;
            margin-bottom: var(--spacing-xl);
        }

        .hero-scroll {
            position: absolute;
            bottom: var(--spacing-lg);
            left: 50%;
            transform: translateX(-50%);
            animation: bounce 2s infinite;
        }

        .hero-scroll i {
            font-size: 1.5rem;
            opacity: 0.8;
        }

        /* ========================================= */
        /* Main Content Sections */
        /* ========================================= */
        .main-content {
            position: relative;
            z-index: 1;
        }

        .intro-section {
            padding: var(--spacing-xxl) 0;
            background: var(--silk-cream);
        }

        .intro-content {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            animation: fadeInUp 1s ease-out;
        }

        .intro-text p {
            font-size: 1.1rem;
            margin-bottom: var(--spacing-md);
            color: var(--text-light);
        }

        /* ========================================= */
        /* Slideshow Styles */
        /* ========================================= */
        .slideshow-container {
            position: relative;
            max-width: 1000px;
            margin: 0 auto;
            border-radius: var(--border-radius-lg);
            overflow: hidden;
            box-shadow: var(--box-shadow-hover);
            animation: fadeInUp 1s ease-out;
        }

        .slideshow-wrapper {
            position: relative;
            width: 100%;
            height: 500px;
            overflow: hidden;
        }

        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translateX(100%);
            transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .slide.active {
            opacity: 1;
            transform: translateX(0);
        }

        .slide.prev {
            transform: translateX(-100%);
        }

        .slide-image {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .slide-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 8s ease-out;
        }

        .slide.active .slide-image img {
            transform: scale(1.1);
        }

        .slide-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(135deg, rgba(156, 169, 134, 0.8), rgba(107, 116, 96, 0.9));
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slide-content {
            text-align: center;
            color: white;
            padding: var(--spacing-lg);
            transform: translateY(30px);
            opacity: 0;
            transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .slide.active .slide-content {
            transform: translateY(0);
            opacity: 1;
            transition-delay: 0.3s;
        }

        .slide-content i {
            font-size: 4rem;
            margin-bottom: var(--spacing-md);
            display: block;
        }

        .slide-content h3 {
            font-family: var(--font-heading);
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: var(--spacing-sm);
            letter-spacing: -0.02em;
        }

        .slide-content p {
            font-size: 1.2rem;
            opacity: 0.9;
            max-width: 500px;
            margin: 0 auto;
        }

        /* Slideshow Navigation */
        .slideshow-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.2);
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            transition: var(--transition-smooth);
            backdrop-filter: blur(10px);
            z-index: 10;
        }

        .slideshow-nav:hover {
            background: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%) scale(1.1);
        }

        .slideshow-nav.prev {
            left: 20px;
        }

        .slideshow-nav.next {
            right: 20px;
        }

        /* Slideshow Dots */
        .slideshow-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 12px;
            z-index: 10;
        }

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.5);
            background: transparent;
            cursor: pointer;
            transition: var(--transition-smooth);
        }

        .dot.active,
        .dot:hover {
            background: white;
            border-color: white;
        }

        /* ========================================= */
        /* Story Section */
        /* ========================================= */
        .story-section {
            padding: var(--spacing-xxl) 0;
            background: var(--silk-cream);
        }

        .story-content {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
            animation: fadeInUp 1s ease-out;
        }

        .story-text p {
            font-size: 1.1rem;
            margin-bottom: var(--spacing-md);
            color: var(--text-light);
        }

        /* ========================================= */
        /* Values & Contact Section */
        /* ========================================= */
        .values-contact-section {
            padding: var(--spacing-xxl) 0;
            background: var(--silk-warm);
        }

        .two-column-layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-xl);
            align-items: flex-start;
        }

        .values-column,
        .contact-column {
            animation: fadeInUp 1s ease-out;
        }

        .contact-column {
            animation-delay: 0.2s;
        }

        /* Values Styles */
        .values-intro {
            font-weight: 500;
            color: var(--sage-dark);
            margin-bottom: var(--spacing-lg);
            text-align: center;
        }

        .value-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: var(--spacing-lg);
            padding: var(--spacing-md);
            background: white;
            border-radius: var(--border-radius-md);
            box-shadow: var(--box-shadow);
            transition: var(--transition-smooth);
        }

        .value-item:hover {
            transform: translateY(-5px);
            box-shadow: var(--box-shadow-hover);
        }

        .value-icon {
            width: 60px;
            height: 60px;
            background: linear-gradient(135deg, var(--sage-primary), var(--sage-light));
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: var(--spacing-md);
            flex-shrink: 0;
        }

        .value-icon i {
            font-size: 1.5rem;
            color: white;
        }

        .value-content h3 {
            font-family: var(--font-heading);
            font-size: 1.5rem;
            color: var(--text-dark);
            margin-bottom: var(--spacing-xs);
        }

        .value-content p {
            color: var(--text-light);
            line-height: 1.6;
        }

        /* Contact Styles */
        .contact-content {
            background: white;
            padding: var(--spacing-lg);
            border-radius: var(--border-radius-lg);
            box-shadow: var(--box-shadow);
        }

        .contact-item {
            display: flex;
            align-items: center;
            margin-bottom: var(--spacing-md);
            padding-bottom: var(--spacing-md);
            border-bottom: 1px solid var(--silk-warm);
        }

        .contact-item:last-of-type {
            border-bottom: none;
            margin-bottom: var(--spacing-lg);
        }

        .contact-icon {
            width: 40px;
            height: 40px;
            background: var(--sage-primary);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: var(--spacing-md);
            flex-shrink: 0;
        }

        .contact-icon i {
            color: white;
            font-size: 1rem;
        }

        .contact-info p,
        .contact-info a {
            color: var(--text-light);
            text-decoration: none;
            transition: var(--transition-smooth);
        }

        .contact-info a:hover {
            color: var(--sage-primary);
        }

        /* Social Section */
        .social-section {
            text-align: center;
            padding-top: var(--spacing-md);
            border-top: 1px solid var(--silk-warm);
        }

        .social-section h3 {
            font-family: var(--font-heading);
            color: var(--text-dark);
            margin-bottom: var(--spacing-md);
        }

        .social-icons {
            display: flex;
            justify-content: center;
            gap: var(--spacing-sm);
        }

        .social-link {
            width: 50px;
            height: 50px;
            background: linear-gradient(135deg, var(--sage-primary), var(--sage-light));
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            transition: var(--transition-bounce);
        }

        .social-link:hover {
            transform: translateY(-3px) scale(1.1);
            box-shadow: var(--box-shadow);
        }

        .social-link i {
            font-size: 1.2rem;
        }

        /* ========================================= */
        /* Animations */
        /* ========================================= */
        @keyframes heroFadeIn {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(40px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateX(-50%) translateY(0);
            }
            40% {
                transform: translateX(-50%) translateY(-10px);
            }
            60% {
                transform: translateX(-50%) translateY(-5px);
            }
        }

        /* ========================================= */
        /* Responsive Design */
        /* ========================================= */
                @media (max-width: 768px) {
            :root {
                --spacing-sm: 1rem;
                --spacing-md: 1.5rem;
                --spacing-lg: 2rem;
                --spacing-xl: 3rem;
                --spacing-xxl: 4rem;
            }

            .two-column-layout {
                grid-template-columns: 1fr;
                gap: var(--spacing-lg);
            }

            .value-item {
                flex-direction: column;
                text-align: center;
            }

            .value-icon {
                margin-right: 0;
                margin-bottom: var(--spacing-sm);
            }

            .contact-item {
                flex-direction: column;
                text-align: center;
            }

            .contact-icon {
                margin-right: 0;
                margin-bottom: var(--spacing-xs);
            }

            .hero-scroll {
                bottom: var(--spacing-md);
            }

            /* Slideshow Mobile Styles */
            .slideshow-wrapper {
                height: 400px;
            }

            .slide-content h3 {
                font-size: 2rem;
            }

            .slide-content p {
                font-size: 1rem;
            }

            .slideshow-nav {
                width: 40px;
                height: 40px;
                font-size: 1rem;
            }

            .slideshow-nav.prev {
                left: 10px;
            }

            .slideshow-nav.next {
                right: 10px;
            }
        }

        @media (max-width: 480px) {
            .container {
                padding: 0 1rem;
            }

            .social-icons {
                flex-wrap: wrap;
            }
        }

        /* ========================================= */
        /* Intersection Observer Animations */
        /* ========================================= */
        .fade-in-section {
            opacity: 0;
            transform: translateY(40px);
            transition: all 0.8s ease-out;
        }

        .fade-in-section.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    </style>

    <script>
        // Slideshow functionality
        let currentSlide = 0;
        const slides = document.querySelectorAll('.slide');
        const dots = document.querySelectorAll('.dot');
        const totalSlides = slides.length;

        function showSlide(n) {
            // Remove active class from all slides and dots
            slides.forEach(slide => {
                slide.classList.remove('active', 'prev');
            });
            dots.forEach(dot => {
                dot.classList.remove('active');
            });

            // Calculate previous slide for animation
            const prevSlide = currentSlide;
            currentSlide = (n + totalSlides) % totalSlides;

            // Add classes for animation
            if (prevSlide !== currentSlide) {
                slides[prevSlide].classList.add('prev');
            }
            slides[currentSlide].classList.add('active');
            dots[currentSlide].classList.add('active');
        }

        function nextSlide() {
            showSlide(currentSlide + 1);
        }

        function prevSlide() {
            showSlide(currentSlide - 1);
        }

        // Auto-advance slideshow
        function autoSlide() {
            nextSlide();
        }

        // Initialize slideshow
        document.addEventListener('DOMContentLoaded', () => {
            // Set up navigation buttons
            document.querySelector('.slideshow-nav.next').addEventListener('click', nextSlide);
            document.querySelector('.slideshow-nav.prev').addEventListener('click', prevSlide);

            // Set up dots navigation
            dots.forEach((dot, index) => {
                dot.addEventListener('click', () => showSlide(index));
            });

            // Start auto-slideshow
            setInterval(autoSlide, 5000);

            // Intersection Observer for scroll animations
            const observerOptions = {
                threshold: 0.1,
                rootMargin: '0px 0px -50px 0px'
            };

            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add('is-visible');
                    }
                });
            }, observerOptions);

            // Observe all sections for animations
            const sections = document.querySelectorAll('section');
            sections.forEach(section => {
                section.classList.add('fade-in-section');
                observer.observe(section);
            });

            // Smooth scrolling for hero scroll button
            const heroScroll = document.querySelector('.hero-scroll');
            if (heroScroll) {
                heroScroll.addEventListener('click', () => {
                    document.querySelector('.intro-section').scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            }
        });

        // Parallax effect for hero section
        window.addEventListener('scroll', () => {
            const scrolled = window.pageYOffset;
            const hero = document.querySelector('.hero');
            if (hero) {
                hero.style.transform = `translateY(${scrolled * 0.5}px)`;
            }
        });

        // Pause slideshow on hover
        document.addEventListener('DOMContentLoaded', () => {
            const slideshowContainer = document.querySelector('.slideshow-container');
            let slideshowInterval = setInterval(autoSlide, 5000);

            slideshowContainer.addEventListener('mouseenter', () => {
                clearInterval(slideshowInterval);
            });

            slideshowContainer.addEventListener('mouseleave', () => {
                slideshowInterval = setInterval(autoSlide, 5000);
            });
        });
    </script>

     <!--Footer-->
     <footer id="footer" class="footer-2">
      <div class="site-footer">
          <div class="container">
              <!--Footer Links-->
              <div class="footer-top">
                  <div class="logo">
                      <img src="/assets/images/sagesilk.png" alt="sage-silklogo">
                  </div>
                  <div class="row">
                      <!-- Contact Information -->
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                          <h4 class="h4">Contact Us</h4>
                          <ul class="addressFooter">
                              <li><i class="icon anm anm-map-marker-al"></i><p>Green Tower Plaza, Okukoko, Warri, Delta State, Nigeria</p></li>
                              <li class="phone"><i class="icon anm anm-phone-s"></i><p>+234-8059-3077-39, +234-8095-5212-17</p></li>
                              <li><a href="mailto:sage-silk@gmail.com">sage-silk@gmail.com</a></li>
                          </ul>
                      </div>
  
                      <!-- Quick Shop -->
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                          <h4 class="h4">Quick Shop</h4>
                          <ul>
                              <li><a href="/women">Women</a></li>
                              <li><a href="/men">Men</a></li>
                              <li><a href="/kids">Kids</a></li>
                              <li><a href="/makeup">Cosmetics</a></li>
                              <li><a href="/accessories">Accessories</a></li>
                          </ul>
                      </div>
  
                      <!-- Informations -->
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                          <h4 class="h4">Informations</h4>
                          <ul>
                              <li><a href="/about">About us</a></li>
                              <li><a href="/shipping">Shipping</a></li>
                              <li><a href="/racking">Tracking</a></li>
                              <li><a href="/terms">Terms &amp; condition</a></li>
                              <li><a href="/profile">My Account</a></li>
                          </ul>
                      </div>
  
                      <!-- Customer Services -->
                      <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                          <h4 class="h4">Customer Services</h4>
                          <ul>
                              <li><a href="">Request Personal Data</a></li>
                              <li><a href="/FAQ">FAQ's</a></li>
                              <li><a href="/contact">Contact Us</a></li>
                              <li><a href="/myorders">Orders and Returns</a></li>
                              <li><a href="#">Support Center</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!--End Footer Links-->
              <hr>
              <div class="footer-bottom">
                  <div class="row">
                      <!--Footer Copyright-->
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                          <div class="under-footer">
                              <p>Copyright © 2025 All Rights Reserved.</p>
                              <p>Design: <a href="https://github.com/byjove19" target="_parent" title="byjove19">Byjove</a></p>
                          </div>
                      </div>
                      <!--End Footer Copyright-->
                      <!--Footer Payment Icon-->
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                          <ul class="payment-icons list--inline">
                              <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                              <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                              <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                              <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                              <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                              <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                          </ul>
                      </div>
                      <!--End Footer Payment Icon-->
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!--End Footer-->

    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
  

    
         <!-- Including Jquery -->
     <script src="/assets2/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="/assets2/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="/assets2/js/vendor/jquery.cookie.js"></script>
     <script src="/assets2/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="/assets2/js/bootstrap.min.js"></script>
     <script src="/assets2/js/plugins.js"></script>
     <script src="/assets2/js/popper.min.js"></script>
     <script src="/assets2/js/lazysizes.js"></script>
     <script src="/assets2/js/main.js"></script>
     <!--For Newsletter Popup-->
     <script>
        jQuery(document).ready(function(){  
		  jQuery('.closepopup').on('click', function () {
			  jQuery('#popup-container').fadeOut();
			  jQuery('#modalOverly').fadeOut();
		  });
		  
		  var visits = jQuery.cookie('visits') || 0;
		  visits++;
		  jQuery.cookie('visits', visits, { expires: 1, path: '/' });
		  console.debug(jQuery.cookie('visits')); 
		  if ( jQuery.cookie('visits') > 1 ) {
			jQuery('#modalOverly').hide();
			jQuery('#popup-container').hide();
		  } else {
			  var pageHeight = jQuery(document).height();
			  jQuery('<div id="modalOverly"></div>').insertBefore('body');
			  jQuery('#modalOverly').css("height", pageHeight);
			  jQuery('#popup-container').show();
		  }
		  if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
		}); 
		
		jQuery(document).mouseup(function(e){
		  var container = jQuery('#popup-container');
		  if( !container.is(e.target)&& container.has(e.target).length === 0)
		  {
			container.fadeOut();
			jQuery('#modalOverly').fadeIn(200);
			jQuery('#modalOverly').hide();
		  }
		});
		
		
		$(document).ready(function(){
    $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
    });
});

	
</script>
<script>
(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="EXIZDnpNmboDqIZNmEoEt";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
</script>


</div>
</body>

</html>