<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover adorable and stylish kids' clothing collection. From playful everyday wear to special occasion outfits, we have everything for your little ones.">
    <meta name="keywords" content="kids fashion, children's clothing, baby clothes, toddler outfits, kids collection">
    <meta name="author" content="Sage & Silk">
    
    <title>Kid's Collection - Adorable Fashion for Little Ones | Sage & Silk</title>
    
    <!-- Social Media Metadata -->
    <meta property="og:title" content="Kid's Collection - Adorable Fashion for Little Ones | Sage & Silk">
    <meta property="og:description" content="Discover stylish and comfortable clothing for kids of all ages. Perfect for playtime, school, and special occasions.">
    <meta property="og:image" content="/assets2/images/seo/kids-collection-banner.jpg">
    <meta property="og:url" content="https://www.sagesilk.com/kids-collection">
    <meta property="og:type" content="website">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Kid's Collection - Adorable Fashion for Little Ones | Sage & Silk">
    <meta name="twitter:description" content="Discover stylish and comfortable clothing for kids of all ages. Perfect for playtime, school, and special occasions.">
    <meta name="twitter:image" content="/assets2/images/seo/kids-collection-banner.jpg">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/assets2/css/plugins.css">
    <link rel="stylesheet" href="/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets2/css/style.css">
    <link rel="stylesheet" href="/assets2/css/responsive.css">
</head>

<body class="template-index belle home7-shoes">
    <div id="pre-loader">
        <img src="/assets/images/loader.gif" alt="Loading..." />
    </div>
    <div class="pageWrapper">
        <!--Search Form Drawer-->
        <div class="search">
            <div class="search__form">
                <form class="search-bar__form" action="/search" method="GET">
                    <input 
                        class="search__input" 
                        type="search" 
                        name="q" 
                        placeholder="Search for items..." 
                        aria-label="Search" 
                        autocomplete="off"
                        oninput="showSuggestions(this.value)"
                    />
                    <button class="go-btn search__button" type="submit">
                        <i class="icon anm anm-search-l"></i>
                    </button>
                </form>
        
                <div id="suggestions" class="search-suggestions">
                    <!-- Dynamic suggestions will be displayed here -->
                </div>
        
                <button type="button" class="search-trigger close-btn">
                    <i class="anm anm-times-l"></i>
                </button>
            </div>
        </div>
        
        <!--End Search Form Drawer-->
        <!--Top Header-->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                        <div class="currency-picker">
                            <span class="selected-currency">USD</span>
                            <ul id="currencies">
                                <li data-currency="INR" class="">INR</li>
                                <li data-currency="GBP" class="">GBP</li>
                                <li data-currency="CAD" class="">CAD</li>
                                <li data-currency="USD" class="selected">USD</li>
                                <li data-currency="AUD" class="">AUD</li>
                                <li data-currency="EUR" class="">EUR</li>
                                <li data-currency="JPY" class="">JPY</li>
                            </ul>
                        </div>
                        
                        <p class="phone-no"><i class="anm anm-phone-s"></i> Whatsapp +234 8059307739</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                        <div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                        <div class="site-header d-flex justify-content-end align-items-center">
                            <div class="site-header__search">
                                <button type="button" class="search-trigger">
                                    <i class="icon anm anm-search-l"></i>
                                </button>
                            </div>
                        <span class="user-menu d-block d-lg-none">
                            <i class="anm anm-user-al" aria-hidden="true"></i>
                        </span>
                        <ul class="customer-links list-inline">
                            <% if (user) { %>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown" aria-expanded="false">
                                        <%= user.username %>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/mycart">My Cart</a></li>
                                        <li><a href="/wishlist">My Wishlists</a></li>
                                        <li><a href="/tracking">My Tracking</a></li>
                                        <li><a href="/orders">My Orders</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            <% } else { %>
                                <li class="scroll-to-section"><a href="/signup">SignUp/Login</a></li>
                            <% } %>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Top Header-->
        <!--Header-->
        <div class="header-wrap classicHeader animated d-flex">
            <div class="container-fluid">        
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="/">
                            <img src="/assets/images/sagesilk.png" alt="Sagesilk" style="max-height: 60px;" />
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <div class="row">
                            <nav class="grid__item" id="AccessibleNav">
                                <ul id="siteNav" class="site-nav medium center hidearrow">
                                    <li class="lvl1 parent megamenu"><a href="/">Home <i class="anm anm-angle-down-l"></i></a></li>
                                    <li class="lvl1 parent megamenu"><a href="/women">Women's Collection <i class="anm anm-angle-down-l"></i></a></li>
                                    <li class="lvl1 parent megamenu"><a href="/kids">Kid's Collection <i class="anm anm-angle-down-l"></i></a>
                                        <div class="megamenu style4">
                                            <ul class="grid grid--uniform mmWrapper">
                                                <!-- Baby Collection Section -->
                                                <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                    <a href="#" class="site-nav lvl-1">Baby Collection</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Newborn Essentials</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Onesies & Rompers</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Baby Dresses</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Sleepwear</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Accessories</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Toddler Collection Section -->
                                                <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                    <a href="#" class="site-nav lvl-1">Toddler Collection</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Playwear <span class="lbl nm_label3">New</span></a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Casual Outfits</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Dresses & Sets</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Swimwear</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Kids Collection Section -->
                                                <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                    <a href="#" class="site-nav lvl-1">Kids Collection</a>
                                                    <ul class="subLinks">
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">School Uniforms</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Party Wear</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Seasonal Styles</a></li>
                                                        <li class="lvl-2"><a href="" class="site-nav lvl-2">Footwear</a></li>
                                                    </ul>
                                                </li>
                                                <li class="grid__item lvl-1 col-md-3 col-lg-3">
                                                    <a href="/kids"><img src="/assets2/images/kids/kid-section1.jpg" alt="Kids Collection" title="Kids Collection" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="lvl1 parent megamenu"><a href="/accessories">Accessories <i class="anm anm-angle-down-l"></i></a></li>
                                    <li class="lvl1 parent megamenu"><a href="/wigs">Wigs & Haircare <i class="anm anm-angle-down-l"></i></a></li>
                                    <li class="lvl1 parent megamenu"><a href="/makeup">Makeup & Skincare <i class="anm anm-angle-down-l"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--End Desktop Menu-->
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo">
                            <a href="/">
                                <img src="/assets/images/sagesilk.png" alt="Sagesilk" style="max-height: 60px;" />
                            </a>
                        </div>
                    </div>
                    <!--Mobile Logo-->
                </div>
            </div>
        </div>
        <!--End Header-->
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                <li class="lvl1 parent megamenu"><a href="/">Home <i class=""></i></a></li>
                <li class="lvl1 parent megamenu"><a href="/women">Women's Collection <i class=""></i></a></li>
                <li class="lvl1 parent megamenu"><a href="/kids">Kid's Collection <i class=""></i></a></li>
                <li class="lvl1 parent megamenu"><a href="/accessories">Accessories <i class=""></i></a></li>
                <li class="lvl1 parent megamenu"><a href="/wigs">Wigs And Haircare <i class=""></i></a></li>
                <li class="lvl1 parent megamenu"><a href="/makeup">Makeup & Skincare <i class=""></i></a></li>
            </ul>
        </div>
        <!--End Mobile Menu-->
        
        <!--Body Content-->
        <div id="page-content">
            <!-- Home Slider -->
            <div class="slideshow slideshow-wrapper pb-4">
                <div class="home-slideshow">
                    <div class="slide">
                        <div class="blur-up lazyload">
                            <!-- Desktop Image -->
                            <img 
                                class="blur-up lazyload desktop-show" 
                                data-src="/assets2/images/kids/kids-banner.jpg" 
                                src="/assets2/images/kids/kids-banner.jpg" 
                                alt="Adorable Styles for Little Ones" 
                                title="Adorable Styles for Little Ones" 
                            />
                            <!-- Mobile Image -->
                            <img 
                                class="blur-up lazyload mobile-show" 
                                data-src="/assets2/images/kids/kids-banner-mobile.jpg" 
                                src="/assets2/images/kids/kids-banner-mobile.jpg" 
                                alt="Adorable Styles for Little Ones" 
                                title="Adorable Styles for Little Ones" 
                            />
                            <!-- Slider Text Content -->
                            <div class="slideshow__text-wrap slideshow__overlay classic middle">
                                <div class="slideshow__text-content left">
                                    <div class="container">
                                        <div class="wrap-caption left">
                                            <h2 class="h1 mega-title slideshow__title">Adorable Styles for Little Ones</h2>
                                            <span class="mega-subtitle slideshow__subtitle">Comfortable, stylish clothes for every adventure</span>
                                            <a href="#" class="btn">Shop Kid's Collection</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Home slider-->
            
            <!--Small Banners-->
            <div class="section imgBanners pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 pl-0">
                            <div class="imgBnrOuter">
                                <div class="inner btmright">
                                    <img data-src="/assets2/images/kids/kids-banner1.jpg" src="/assets2/images/kids/kids-banner1.jpg" alt="Baby Collection" class="blur-up lazyload"/>
                                    <div class="ttl">from $20<h5>Baby Collection</h5></div>
                                </div>
                            </div>    	
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 pr-0">
                            <div class="imgBnrOuter">
                                <div class="inner btmright">
                                    <img data-src="/assets2/images/kids/kids-banner2.jpg" src="/assets2/images/kids/kids-banner2.jpg" alt="Toddler Outfits" class="blur-up lazyload"/>
                                    <div class="ttl">from $25<h5>Toddler Outfits</h5></div>
                                </div>
                            </div>  
                            <div class="imgBnrOuter mt-4">
                                <div class="inner btmright">
                                    <img data-src="/assets2/images/kids/kids-banner3.jpg" src="/assets2/images/kids/kids-banner3.jpg" alt="Kids Accessories" class="blur-up lazyload"/>
                                    <div class="ttl">from $15<h5>Kids Accessories</h5></div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <!--End Small Banners-->
            
            <!--Collection Tab slider-->
            <div class="tab-slider-product section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-header text-center">
                                <h2 class="h2">New Arrivals</h2>
                                <p>Browse our latest collection for kids</p>
                            </div>
                            <div class="tabs-listing">
                                <ul class="tabs clearfix">
                                    <li class="active" rel="tab1">Baby</li>
                                    <li rel="tab2">Toddler</li>
                                    <li rel="tab3">Kids</li>
                                </ul>
                                <div class="tab_container">
                                    <div id="tab1" class="tab_content grid-products style3">
                                        <div class="productSlider">
                                            <div class="col-12 item">
                                                <!-- product name -->
                                                <div class="product-name">
                                                    <a href="product-layout-1.html">Organic Cotton Bodysuit</a>
                                                </div>
                                                <!-- End product name -->
                                                <!-- start product image -->
                                                <div class="product-image">
                                                    <a href="product-layout-1.html">
                                                        <img class="primary blur-up lazyload" data-src="/assets2/images/kids/products/baby1.jpg" src="/assets2/images/kids/products/baby1.jpg" alt="image" title="product">
                                                        <img class="hover blur-up lazyload" data-src="/assets2/images/kids/products/baby1-1.jpg" src="/assets2/images/kids/products/baby1-1.jpg" alt="image" title="product">
                                                        <div class="product-labels rectangular"><span class="lbl pr-label2">New</span></div>
                                                    </a>
                                                </div>
                                                <!-- end product image -->
                                                <!-- Start product button -->
                                                <div class="button-set button-style2">
                                                    <form class="variants add btn-style2" action="#" method="post">
                                                        <button class="btn cartIcon btn-addto-cart" type="button" tabindex="0"><i class="icon anm anm-bag-l"></i></button>
                                                    </form>
                                                    <a href="javascript:void(0)" title="Quick View" class="btn-style2 quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                        <i class="icon anm anm-search-plus-r"></i>
                                                    </a>
                                                    <div class="wishlist-btn btn-style2">
                                                        <a class="wishlist add-to-wishlist" href="wishlist.html">
                                                            <i class="icon anm anm-heart-l"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- end product button -->
                                                <!--start product details -->
                                                <div class="product-details text-center">
                                                    <div class="product-price">
                                                        <span class="price">$24.00</span>
                                                    </div>
                                                    <div class="product-review">
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <!-- End product details -->
                                            </div>
                                            <!-- Repeat similar product blocks for other baby items -->
                                            <div class="col-12 item">
                                                <div class="product-name">
                                                    <a href="product-layout-1.html">Striped Baby Romper</a>
                                                </div>
                                                <div class="product-image">
                                                    <a href="product-layout-1.html">
                                                        <img class="primary blur-up lazyload" data-src="/assets2/images/kids/products/baby2.jpg" src="/assets2/images/kids/products/baby2.jpg" alt="image" title="product">
                                                        <img class="hover blur-up lazyload" data-src="/assets2/images/kids/products/baby2-1.jpg" src="/assets2/images/kids/products/baby2-1.jpg" alt="image" title="product">
                                                    </a>
                                                </div>
                                                <div class="button-set button-style2">
                                                    <!-- Buttons here -->
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="product-price">
                                                        <span class="price">$28.00</span>
                                                    </div>
                                                    <div class="product-review">
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- More baby products -->
                                        </div>
                                    </div>
                                    <div id="tab2" class="tab_content grid-products style3">
                                        <div class="productSlider">
                                            <div class="col-12 item">
                                                <div class="product-name">
                                                    <a href="product-layout-1.html">Toddler Denim Overalls</a>
                                                </div>
                                                <div class="product-image">
                                                    <a href="product-layout-1.html">
                                                        <img class="primary blur-up lazyload" data-src="/assets2/images/kids/products/toddler1.jpg" src="/assets2/images/kids/products/toddler1.jpg" alt="image" title="product">
                                                        <img class="hover blur-up lazyload" data-src="/assets2/images/kids/products/toddler1-1.jpg" src="/assets2/images/kids/products/toddler1-1.jpg" alt="image" title="product">
                                                        <div class="product-labels rounded"><span class="lbl on-sale">Sale</span></div>
                                                    </a>
                                                </div>
                                                <div class="button-set button-style2">
                                                    <!-- Buttons here -->
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="product-price">
                                                        <span class="old-price">$35.00</span>
                                                        <span class="price">$29.99</span>
                                                    </div>
                                                    <div class="product-review">
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- More toddler products -->
                                        </div>
                                    </div>
                                    <div id="tab3" class="tab_content grid-products style3">
                                        <div class="productSlider">
                                            <div class="col-12 item">
                                                <div class="product-name">
                                                    <a href="product-layout-1.html">Kids Graphic T-Shirt</a>
                                                </div>
                                                <div class="product-image">
                                                    <a href="product-layout-1.html">
                                                        <img class="primary blur-up lazyload" data-src="/assets2/images/kids/products/kids1.jpg" src="/assets2/images/kids/products/kids1.jpg" alt="image" title="product">
                                                        <img class="hover blur-up lazyload" data-src="/assets2/images/kids/products/kids1-1.jpg" src="/assets2/images/kids/products/kids1-1.jpg" alt="image" title="product">
                                                    </a>
                                                </div>
                                                <div class="button-set button-style2">
                                                    <!-- Buttons here -->
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="product-price">
                                                        <span class="price">$22.00</span>
                                                    </div>
                                                    <div class="product-review">
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- More kids products -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <!--Collection Tab slider-->
            
            <!--Feature Content-->
            <div class="section feature-content">
                <div class="container">
                    <div class="row">
                        <div class="feature-row">
                            <!-- Image Section -->
                            <div class="col-12 col-sm-12 col-md-6 feature-row__item">
                                <img src="/assets2/images/kids/kids-feature.jpg" alt="Playful & Comfortable Kids Wear" title="Playful & Comfortable Kids Wear" />
                            </div>
                            
                            <!-- Text Section -->
                            <div class="col-12 col-sm-12 col-md-6 feature-row__item feature-row__text--left text-left">
                                <div class="row-text">
                                    <h2 class="h2">Playful & Comfortable Kids Wear</h2>
                                    <div class="rte-setting featured-row__subtext">
                                        <p>At Sage & Silk, we believe kids should be free to play, explore, and grow in clothes that are as comfortable as they are stylish. Our collection is designed with soft, breathable fabrics that move with your child.</p>
                                        <p>From adorable baby essentials to trendy outfits for older kids, we've carefully selected each piece to ensure quality, durability, and style. Whether it's for everyday wear, special occasions, or seasonal needs, our kids' collection has something for every little personality.</p>
                                    </div>
                                    <a href="#" class="btn">Shop Kid's Collection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Feature Content-->
            
            <!--Age Group Section-->
            <div class="section age-group-section">
                <div class="container">
                    <div class="section-header text-center">
                        <h2 class="h2">Shop By Age Group</h2>
                        <p>Find the perfect outfits for every stage</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 age-group-item">
                            <a href="#">
                                <img src="/assets2/images/kids/age-0-12.jpg" alt="0-12 Months" class="blur-up lazyload">
                                <h3>0-12 Months</h3>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 age-group-item">
                            <a href="#">
                                <img src="/assets2/images/kids/age-1-3.jpg" alt="1-3 Years" class="blur-up lazyload">
                                <h3>1-3 Years</h3>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 age-group-item">
                            <a href="#">
                                <img src="/assets2/images/kids/age-4-6.jpg" alt="4-6 Years" class="blur-up lazyload">
                                <h3>4-6 Years</h3>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 age-group-item">
                            <a href="#">
                                <img src="/assets2/images/kids/age-7-12.jpg" alt="7-12 Years" class="blur-up lazyload">
                                <h3>7-12 Years</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Age Group Section-->
            
            <!--Instagram Section-->
            <div class="section instagram-feed-section">
                <div class="section-header text-center">
                    <h2 class="h2 heading-font">Follow us On Instagram</h2>
                    <p>@sage-silk-kids</p>
                </div>
                <!--Instagram ID-->
                <div id="instafeed" class="imlow_resolution"></div>
                <!--End Instagram ID-->
            </div>
            <!--End Instagram Section-->
        </div>
        <!--End Body Content-->
        
        <!--Footer-->
        <footer id="footer" class="footer-2">
            <div class="site-footer">
                <div class="container">
                    <!--Footer Links-->
                    <div class="footer-top">
                        <div class="logo">
                            <img src="/assets/images/sagesilk.png" alt="sage-silklogo">
                        </div>
                        <div class="row">
                            <!-- Contact Information -->
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <h4 class="h4">Contact Us</h4>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al"></i><p>Green Tower Plaza, Okukoko, Warri, Delta State, Nigeria</p></li>
                                    <li class="phone"><i class="icon anm anm-phone-s"></i><p>+234-8059-3077-39, +234-8095-5212-17</p></li>
                                    <li><a href="mailto:sage-silk@gmail.com">sage-silk@gmail.com</a></li>
                                </ul>
                            </div>
        
                            <!-- Quick Shop -->
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Quick Shop</h4>
                                <ul>
                                    <li><a href="/women">Women</a></li>
                                    <li><a href="/men">Men</a></li>
                                    <li><a href="/kids">Kids</a></li>
                                    <li><a href="/makeup">Cosmetics</a></li>
                                    <li><a href="/accessories">Accessories</a></li>
                                </ul>
                            </div>
        
                            <!-- Informations -->
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/shipping">Shipping</a></li>
                                    <li><a href="/racking">Tracking</a></li>
                                    <li><a href="/terms">Terms &amp; condition</a></li>
                                    <li><a href="/profile">My Account</a></li>
                                </ul>
                            </div>
        
                            <!-- Customer Services -->
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>
                                    <li><a href="">Request Personal Data</a></li>
                                    <li><a href="/FAQ">FAQ's</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="/myorders">Orders and Returns</a></li>
                                    <li><a href="#">Support Center</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">
                        <div class="row">
                            <!--Footer Copyright-->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                                <div class="under-footer">
                                    <p>Copyright © 2025 All Rights Reserved.</p>
                                    <p>Design: <a href="https://github.com/byjove19" target="_parent" title="byjove19">Byjove</a></p>
                                </div>
                            </div>
                            <!--End Footer Copyright-->
                            <!--Footer Payment Icon-->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                <ul class="payment-icons list--inline">
                                    <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                    <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <!--End Footer Payment Icon-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
        
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->
        
        <!-- Quick View Modal -->
        <div class="modal fade quick-view-popup" id="content_quickview">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <a href="javascript:void(0)" data-dismiss="modal" class="model-close-btn pull-right" title="close">
                            <span class="icon icon anm anm-times-l"></span>
                        </a>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-details-img">
                                    <img id="quick-view-image" src="" alt="Product Image" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-single__meta">
                                    <h2 id="quick-view-title" class="product-single__title"></h2>
                                    <div class="prInfoRow">
                                        <div class="product-stock">
                                            <span class="instock">In Stock</span>
                                        </div>
                                        <div class="product-sku">SKU: <span id="quick-view-sku"></span></div>
                                    </div>
                                    <p class="product-single__price">
                                        <s id="quick-view-old-price"><span class="money"></span></s>
                                        <span id="quick-view-price" class="product-price__sale">
                                            <span class="money"></span>
                                        </span>
                                    </p>
                                    <div id="quick-view-description" class="product-single__description rte"></div>
                                </div>

                                <!-- Product Action -->
                                <div class="product-action clearfix">
                                    <div class="product-form__item--quantity">
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                <input type="text" id="" name="quantity" value="1" class="product-form__input qty">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>                                 
                                    <div class="product-form__item--submit">
                                        <a href="/mycart" class="btn product-form__cart-submit">
                                            <span>Add to cart</span>
                                        </a>
                                        <a href="/wishlist" class="btn product-form__wishlist-submit">
                                            <span>Add to Wishlist</span>
                                        </a>
                                        <a href="/product-accordion" class="btn product-form__viewmore-submit">
                                            <span>View More</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Product Action -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Quick View Modal -->
    </div>
    
    <!-- Including Jquery -->
    <script src="/assets2/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/assets2/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets2/js/vendor/jquery.cookie.js"></script>
    <script src="/assets2/js/vendor/wow.min.js"></script>
    <!-- Including Javascript -->
    <script src="/assets2/js/bootstrap.min.js"></script>
    <script src="/assets2/js/plugins.js"></script>
    <script src="/assets2/js/popper.min.js"></script>
    <script src="/assets2/js/lazysizes.js"></script>
    <script src="/assets2/js/main.js"></script>
    
    <script>
        // Sample product data for quick view
        const kidsProducts = [
            {
                id: 1,
                name: "Organic Cotton Bodysuit",
                price: "$24.00",
                oldPrice: "$28.00",
                sku: "BS12345",
                image: "/assets2/images/kids/products/baby1.jpg",
                description: "Soft organic cotton bodysuit with snap closures for easy diaper changes. Gentle on baby's skin and perfect for everyday wear."
            },
            {
                id: 2,
                name: "Striped Baby Romper",
                price: "$28.00",
                oldPrice: "",
                sku: "RP67890",
                image: "/assets2/images/kids/products/baby2.jpg",
                description: "Adorable striped romper with comfortable fit and breathable fabric. Perfect for playtime and naps."
            },
            {
                id: 3,
                name: "Toddler Denim Overalls",
                price: "$29.99",
                oldPrice: "$35.00",
                sku: "OV23456",
                image: "/assets2/images/kids/products/toddler1.jpg",
                description: "Classic denim overalls with adjustable straps for growing toddlers. Durable and stylish for everyday adventures."
            },
            {
                id: 4,
                name: "Kids Graphic T-Shirt",
                price: "$22.00",
                oldPrice: "",
                sku: "TS78901",
                image: "/assets2/images/kids/products/kids1.jpg",
                description: "Fun graphic tee made from soft cotton blend. Machine washable and available in multiple fun designs."
            }
        ];

        // Function to Open Quick View
        function openQuickView(productId) {
            const product = kidsProducts.find(p => p.id === productId);

            if (product) {
                document.getElementById("quick-view-image").src = product.image;
                document.getElementById("quick-view-title").innerText = product.name;
                document.getElementById("quick-view-sku").innerText = product.sku;
                document.getElementById("quick-view-old-price").innerText = product.oldPrice;
                document.getElementById("quick-view-price").innerText = product.price;
                document.getElementById("quick-view-description").innerText = product.description;

                $('#content_quickview').modal('show');
            }
        }

        // Add event listeners to quick view buttons
        document.querySelectorAll('.quick-view').forEach(button => {
            button.addEventListener('click', function() {
                const productId = parseInt(this.getAttribute('data-product-id'));
                openQuickView(productId);
            });
        });

        // Newsletter Popup
        jQuery(document).ready(function(){  
            jQuery('.closepopup').on('click', function () {
                jQuery('#popup-container').fadeOut();
                jQuery('#modalOverly').fadeOut();
            });
            
            var visits = jQuery.cookie('visits') || 0;
            visits++;
            jQuery.cookie('visits', visits, { expires: 1, path: '/' });
            console.debug(jQuery.cookie('visits')); 
            if (jQuery.cookie('visits') > 1) {
                jQuery('#modalOverly').hide();
                jQuery('#popup-container').hide();
            } else {
                var pageHeight = jQuery(document).height();
                jQuery('<div id="modalOverly"></div>').insertBefore('body');
                jQuery('#modalOverly').css("height", pageHeight);
                jQuery('#popup-container').show();
            }
            if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
        });
    </script>
</body>
</html>